*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    background-image: url(./clouds.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.top{
    height: 50vh;
    display: flex;
    align-items: end;
    justify-content: center;
}
.top input{
    border: none;
    background-color: rgba(233, 226, 226, 0.49);
    padding: 2vh;
    border-radius: 10px 0 0 10px;
    border: 1px solid white;
    color: white;
}
.top button{
    border: none;
    padding: 2vh;
    background-color: rgba(233, 226, 226, 0.49);
    border-radius:  0 10px 10px 0;
}
.bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.49);
    margin-top: 10vh;
    /* height: 20vh; */
    gap: 2vh;
    /* width: 30%; */
    border-radius: 10px;
    border: 1px solid white;
}
.bottom div{
    background-color: rgba(53, 52, 52, 0.804);
    padding: 7vh;
    border-radius: 10px;
    width: 32%;
    height: 100%;
    color: white;
    text-align: center;
}
@media (max-width:651px){
    .bottom{
        flex-direction: column;
    }
    .bottom div{
        width: auto;
        width: 100%;
    }
    .main{
        padding-bottom: 10vh;
    }
}